<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("./layout/layout.css.ejs") %>
</head>

<body>

    <%- include("./layout/layout.header.ejs") %>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="row">
                    <div class="col-md-4">
                        <h6 class="m-0 font-weight-bold text-primary">Quản lý hệ đào tạo</h6>
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <a style="text-align: right;" class="dropdown-item" href="#" data-toggle="modal"
                            data-target="#addcate">
                            <i class="fas fa-plus-square" style='font-size:20px; color: 
                        #4e73df;'></i> Thêm mới
                        </a>
                    </div>
                </div>


            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID hệ đào tạo</th>
                                <th>Tên hệ đào tạo</th>
                                <th>Tùy chọn</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% for (let index=0; index < DS_hedaotao.length; index++) {%>
                                <tr>
                                    <td>
                                        <%= DS_hedaotao[index].dataValues.IDhedaotao %>
                                    </td>
                                    <td>

                                        <%= DS_hedaotao[index].dataValues.tenhedaotao %>
                                    </td>
                                    <td>
                                       
                                           
                                            <ul style="list-style: none;display: flex;">
                                                <li> <a  href="#" data-toggle="modal"
                                                        data-target="#detailcate<%=DS_hedaotao[index].dataValues.IDhedaotao %>">
                                                        <i class="fas fa-eye"
                                                            style='font-size:20px; color: lightsalmon;'></i>&nbsp;&nbsp;&nbsp;
                                                    </a>
                                                </li>

                                                <li> <a  href="#" data-toggle="modal"
                                                        data-target="#updatecate<%=DS_hedaotao[index].dataValues.IDhedaotao %>">
                                                        <i class='fas fa-pencil-ruler'
                                                            style='font-size:20px; color: blue;'></i>&nbsp;&nbsp;&nbsp; 
                                                    </a>
                                                </li>
                                                <li> <a 
                                                        href="./hedaotao/xoa_hedaotao/<%= DS_hedaotao[index].dataValues.IDhedaotao %>"
                                                        onclick=" confirm('Are you sure you want to delete this item?');"><i
                                                            class="fas fa-trash"
                                                            style='font-size:20px; color: 	#FF3333;'></i>&nbsp;&nbsp;&nbsp; </a>
                                                </li>
                                            </ul>
                                       
                                    </td>
                                </tr>
                                <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
       
        <% for (let index=0; index < DS_hedaotao.length; index++) {%>
            <form action="/quanly/hedaotao/sua_hedaotao/<%=DS_hedaotao[index].dataValues.IDhedaotao %>" method="POST"
                enctype="application/x-www-form-urlencoded">
                <div class="modal fade" id="updatecate<%=DS_hedaotao[index].dataValues.IDhedaotao %>" tabindex="-1"
                    role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Cập nhật hệ đào tạo
                                </h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">ID hệ đào tạo</label>
                                    <input type="text" class="form-control" name="IDhedaotao"
                                        value="<%=DS_hedaotao[index].dataValues.IDhedaotao %>">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Tên hệ đào tạo</label>
                                    <input type="text" class="form-control" name="tenhedaotao"
                                        value="<%=DS_hedaotao[index].dataValues.tenhedaotao %>">
                                </div>
                                <button type="submit" class="btn btn-primary">Cập nhật</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/quanly/hedaotao" class="btn btn-primary">Trở lại</a>
                            </div>

                        </div>
                    </div>
                </div>
            </form>


             <div class="modal fade" id="detailcate<%=DS_hedaotao[index].dataValues.IDhedaotao %>" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Chi tiết hệ đào tạo</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>ID hệ đào tạo</th>
                                        <td>
                                            <%= DS_hedaotao[index].dataValues.IDhedaotao %>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>Tên hệ đào tạo</th>
                                        <td>
                                            <%= DS_hedaotao[index].dataValues.tenhedaotao %>
                                        </td>

                                    </tr>
                                    
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div> 

            <%}%>
                </div>
                <form action="/quanly/hedaotao/them_hedaotao" method="POST" enctype="application/x-www-form-urlencoded">

                    <div class="modal fade" id="addcate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Thêm mới hệ đào tạo</i></h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">ID hệ đào tạo</label>
                                        <input type="text" class="form-control" name="IDhedaotao">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Tên hệ đào tạo</label>
                                        <input type="text" class="form-control" name="tenhedaotao">
                                    </div>
                                    
                                    <button type="submit" class="btn btn-primary">Thêm mới
                                        </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="/quanly/hedaotao" class="btn btn-primary">Trở lại</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>




                <%- include("./layout/layout.footer.ejs") %>
                    <%- include("./layout/layout.js.ejs") %>
</body>


</html>